.class {
  margin: 2rem 0;
  padding: 5rem 2rem;

  &__intro {
    //mQ
    @include responsive(tablet) {
      padding: 0 10rem;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__intro-info {
    h1 {
      @include h-tag;
      font-size: 4rem;
    }
    p {
      @include p-tag;
      font-size: 2rem;
      margin: 10px 0;
    }
  }
  &__intro-select {
    & select {
      width: 60px;
      padding: 5px 10px;
      font-size: 16px;
      line-height: 1;
      border: 1px solid $gray;
      border-radius: 5px;
      color: $orange;
      background: url(/img/arrow.png) no-repeat right $light;
      -webkit-appearance: none;
      appearance: none;
      background-size: 20px;
      background-position-x: 35px;
      cursor: pointer;
    }
    & button {
      margin-left: 1rem;
      font-weight: bold;
      padding: 1rem;
      border-radius: 5px;
      border: none;
      outline: 0;
      background: $orange;
      color: $light;
      cursor: pointer;
    }
    @include responsive(tablet) {
      display: flex;
      justify-content: end;
      flex-basis: 100%;
    }
  }

  .cards {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    overflow: hidden;
    @include responsive(tablet) {
      gap: 10rem;
    }
    .card {
      width: 310px;

      text-align: left;
      border-radius: 1rem;
      overflow: hidden;
      background: $light;
      color: $dark;
      font-size: 1.5rem;
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
      padding-bottom: 10px;
      box-shadow: 0px 2px 8px 0px $blue;
      position: relative;

      //HOVER

      //mQ
      @include responsive(pc) {
        display: grid;
        place-content: center;
        height: 485px;
      }

      &__content {
        cursor: pointer;
        padding: 1rem 3rem;
      }
      //bg
      &__bg {
        text-align: center;
        font-size: 4rem;
        color: $light;
        position: absolute;
        height: 25rem;
        line-height: 25rem;
        width: 100%;
        background-image: url("/img/class/ux.png");
        background-color: darkgray;
        background-blend-mode: color-burn;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &--2 {
          background-image: url("/img/class/illustration.png");
        }
        &--3 {
          background-image: url("/img/class/photography.png");
        }
      }
      &__rating {
        margin-top: 26rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .checked {
          color: orange;

          & strong {
            color: $dark;
          }
        }
        & .fa-fire {
          color: red;
          font-size: 2rem;
        }
      }
      & h2 {
        margin: 2rem 0;
      }
      & p {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
      &__students {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & button {
          background: rgba($light-orange, 0.5);
          border: 0;
          outline: none;
          padding: 0.5rem 1rem;
          border-radius: 4px;
          color: $orange;
          font-size: 2rem;
          cursor: pointer;
        }
      }
    }
  }
}
