@mixin h-tag {
  color: $orange;
  word-spacing: 1px;
  font-family: $font-title;
  font-size: 4rem;
}
@mixin p-tag {
  color: $gray;
  line-height: 1.65;
  word-spacing: 2px;
  font-family: $font-primary;
}
