.review {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;

  &__intro {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
    & h1 {
      font-size: 4rem;
      cursor: pointer;
    }
    & p {
      font-size: 1.8rem;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-gap: 1rem;
    place-content: center;

    //mQ
    @include responsive(tablet) {
      grid-template-columns: repeat(2, 300px);
    }
    @include responsive(pc) {
      grid-template-columns: repeat(3, 300px);
      grid-gap: 2rem;
    }
  }
  &__card {
    padding: 2rem;
    border: 1px solid $gray;
    border-radius: 3px;
    background: lighten(#a3c4c2, 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.5rem;
    height: 280px;
    cursor: pointer;
    &:hover {
      animation-name: pulse;
      animation-duration: 0.8s;
    }

    & h3 {
      color: $orange;
      & span {
        color: $gray;
      }
    }
    & p span {
      color: $orange;
      margin-bottom: 10px;
    }
  }
  &__card-img {
    & img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
}
