.subscription {
  margin: 6rem 0;
  &__intro {
    text-align: center;
    & h1 {
      @include h-tag;
      font-size: 3.5rem;
    }
    & p {
      @include p-tag;
      font-size: 1.5rem;
    }
    & div {
      margin-top: 1rem;
      & button {
        background: $orange;
        color: $light;
        padding: 0.5rem 1rem;
        outline: 0;
        border: none;
        border-radius: 6px;
        cursor: pointer;
      }
      & .btn-2 {
        background: transparent;
        color: $gray;
      }
    }
    //mQ
    @include responsive(tablet) {
      padding: 0rem 14rem;
      margin-bottom: 5rem;
    }
    @include responsive(pc) {
      & p {
        margin: 0 auto;
        width: 50ch;
      }
    }
  }
  //cards
  .cards {
    cursor: pointer;
    margin: 5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    //mQ
    @include responsive(tablet) {
      padding: 1rem 4rem;
    }

    &__content {
      width: 300px;
      height: 400px;
      border: 3px solid $orange;
      font-size: 2rem;
      display: grid;
      place-content: center;
      text-align: left;
      grid-gap: 1rem;
      border-radius: 10px;
      padding: 2rem 3rem;
      transition: transform 0.3s ease-in;

      & h2 span {
        font-size: 1.5rem;
        color: $gray;
      }
      & p {
        color: $orange;
        & span {
          color: $gray;
        }
      }

      &--2 {
        color: $light;
        background: $orange;
        & h2 span,
        p,
        p span {
          color: $light;
        }
        & .btn2 {
          background: $light;
        }
      }
      @include responsive(pc) {
        &--2 {
          margin-bottom: 8rem;
        }
      }
      &:hover {
        transform: translateY(-5px);
      }
    }

    //list
    &__list {
      //list 1
      &--1 {
        & li {
          &:nth-child(1),
          &:nth-child(2) {
            color: $orange;
          }
        }
      }
      //list 2
      &--2 {
        & li {
          &:nth-child(5),
          &:nth-child(6) {
            color: $dark;
          }
        }
      }
      //List 3
      &--3 {
        & li {
          color: $orange;
        }
      }
    }

    //button
    & button {
      background: transparent;
      outline: 0;
      border: 1px solid $orange;
      padding: 0.5rem 0;
      color: $orange;
      cursor: pointer;
    }
  }
}
